<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    

    <link rel="stylesheet" href="{{url_for('static',filename ='comunidad.css')}}">
    <title>Document</title>
</head>
<header>
    {% extends './menu.html' %}
    {% block menu_bar  %}
    
    {{super()}}
</header>
<body>
    <br>
    <br>
    <br>
    <hr>
    <h1>Comunidad</h1> 
    <hr>
    <br>
    <br>
    <br>
    <div class="comunidad">
        <div class="comunidad_todos">
            <div class="comunidad_elementos">
                <div class="comunidad_elementos_foto">
                    <a href="">
                        <img src="../public/img/1634842.png" alt="">
                    </a>
                </div>
                <div class="comunidad_elementos_texto">
                    <h1>comunidad</h1>
                    <p>asdasdasdasdasd
                        asdasdasdasdasdasdsadasdsadsadasdasdsadsdasdasdsadasasdasdsadasd
                    </p>
                </div>
            </div>
            <div class="comunidad_elementos">
                <div class="comunidad_elementos_foto">
                    <a href="">
                        <img src="../public/img/1634842.png" alt="">
                    </a>
                </div>
                <div class="comunidad_elementos_texto">
                    <h1>comunidad</h1>
                    <p>asdasdasdasdasd
                        asdasdasdasdasdasdsadasdsadsadasdasdsadsdasdasdsadasasdasdsadasd
                    </p>
                </div>
            </div>
            
            
        </div>
    </div>
    {% endblock  %}
</body>

</html>