<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOUTOS ART</title>
    <link rel="icon" href="https://e7.pngegg.com/pngimages/182/19/png-clipart-square-shape-blue-square-s-angle-white.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename ='inicio.css')}}">
    

</head> 
<header>
    {% extends './menu.html' %}
{% block menu_bar  %}

{{super()}}
</header>

<body>

    <div class="explore_text">
        <hr>
        <h1>Canales</h1>
        <hr>
    </div>
    <div class="ruleta">
        <div class="carrusel_cont">
            <button aria-label="anterior" class="carusser_anterior">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                  </svg>
            </button>
            <button aria-label="siguiente" class="carusser_siguiente">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
            </button>

            

            <div class="caruserl_lista">
                <div class="carrusel_element">
                    <img src="{{url_for('static',filename ='img/inicio/1.jpg')}}" alt="">
                </div>
                <div class="carrusel_element">
                    <img src="{{url_for('static',filename ='img/inicio/5.png')}}" alt="">
                </div>

                <div class="carrusel_element">
                    <img src="{{url_for('static',filename ='img/inicio/8.png')}}" alt="">
                </div>

                <div class="carrusel_element">
                    <img src="{{url_for('static',filename ='img/inicio/7.png')}}" alt="">
                </div>

                <div class="carrusel_element">
                    <img src="{{url_for('static',filename ='img/inicio/2.jpg')}}" alt="">
                </div>




            </div>

        </div>
        <div role="tablist" class="carusel_ind"></div>
    </div>
    <div class="explore_text">
        <hr>
        <h1>Explore</h1>
        <hr>
    </div>
    <br>
    <br>
    <div class="all_img">
        <div class="cont">
           
           {%for id_foto in Fot %}
            <div class="cont_img">
                

                <a href="/foto/{{id_foto.id_foto}}"> <img src="./static/img/todos/{{ id_foto.imagen }}" alt="" id="pen"> </a>
                <div class="imagenes_dos">
                    <div>
                        <div>  
                             <h1>
                                {{id_foto.titulo}}
                            </h1>
                        </div>
                    <hr>
                    <br>
                        <div>
                            <p>
                        
                                {{id_foto.descripcion}}
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            
            {% endfor %}                                                
          
        </div>
    </div>



    <script  src="{url_for('static',filename ='inicion.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
   
   {% endblock  %}
</body>
<br>
<br>
<br>

</html>