<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOUTOS</title>
    
</head>
<header>
    {% extends './menu.html' %}
    {% block menu_bar %}
    <link rel="stylesheet" href="{{url_for('static',filename ='mostrar_foto.css')}}">
    {{super()}}
</header>

<body>
    <br><br>
    
    <div class="cont">
        <div>

        </div>
        <div class="imagen">
            <div class="text">
                
                <h1>{{foto.titulo}}</h1>
<br>
            </div>
            <img src="../static/img/todos/{{foto.imagen}}"  alt="" >
            <br>
            <br>
            <div class="text">
            <h1>Descripcion</h1>
            <p>{{foto.descripcion}}</p>
        </div>
        </div>
        <div class="texto">
            <div class="usuario">
                <div class="fotouser">
            <div class="userimg"> <img src="../static/img/todos/{{user_foto.imagen}}"  alt=""  height="40px" width= "40px" id="close-open"></div>
                  

                </div>
                <div class="nameuser">
                    <a href="">{{user_foto.fullname}}</a>
                </div>
            </div>
            <div class="ingresacomentario">
                <form action="/foto/{{foto.id_foto}}" method="post">
                    <input type="text" name="comentario" id="comentario" placeholder="ingresacometario">
                    <button type="submit" id= "coment">comentar</button>
                    <h1>Comentarios</h1>
                </form>
            </div>
            <div class="comentarios">
                
                {%for id_comentario in comentarios %}
                <div class="comentario">
                    <p>{{id_comentario.texto}}</p>


                </div>
             {% endfor %}                                                

            </div>
        </div>
    </div>
      {% endblock  %}
</body>

</html>