<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foutos art</title>
    <link rel="stylesheet" href="../public/css/Global.css">
    <link rel="stylesheet" href="../public/css/menu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
<link rel="stylesheet" href="../public/css/register_style.css">
</head>
<header>
    <div class="Bar_menu">
        <div class="picture">
            <a href="../vistas/inicio.html"> <img src="/people/src/public/img/foutos.png" alt="foto" height="40px"></a>
        </div>
        <div class="central">
            <div>
                <a href="../vistas/comunidad.html"><button>Comunidad</button></a>
                <button> Trending</button>
                <button> category</button>
            </div>
        </div>
        <a href="">
            <div class="login">
                <div>
                    <h2>asdasd</h2>
                </div>
                <div> <img src="https://storage.googleapis.com/uscimages/account.png" alt="" height="35px"></div>



            </div>
        </a>
        <div class="slider_one">
            <div>
                <a href="">2D</a>

            </div>
            <div>
                <a href="">olio</a>

            </div>
            <div>
                <a href="">3D</a>

            </div>
            <div>
                <a href="">retrato</a>

            </div>
            <div>
                <a href="">animales</a>

            </div>
            <div>
                <a href="">Mitologia</a>

            </div>
        </div>
        <div class="slider_two">
            <div>
                <a href="../vistas/profile.html">usuario</a>

            </div>
            <div>
                <a href="../vistas/configuracion_usuario.html">configuracion</a>

            </div>
            <div>
                <a href="../vistas/subir_imagen.html">upload</a>

            </div>
            <div>
                <a href="">mis fotos</a>

            </div>
            <div>
                <a href="">cuentas</a>

            </div>
            <div>
                <a href="">cerrar secion </a>

            </div>
        </div>

    </div>
</header>

<body>

    <div class="logo">
        <img src="../public/img/logo.png"width = "900px" alt="">
    </div>
<br>
=========
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Validación de Formulario con Javascript</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="../public/css/register_style.css">
    <link rel="stylesheet" href="{{url_for('static',filename ='register_style.css')}}">
</head>
<header>
    {% extends './menu.html' %}
{% block menu_bar  %}

{{super()}}
</header>
<div class="logo">
    <img src="../public/img/logo.png"width = "900px" alt="">
</div>
<br>
<body>
  
>>>>>>>>> Temporary merge branch 2
<div class="container"> 
    <div class="container_vacio">

    </div>
<<<<<<<<< Temporary merge branch 1

    <div class="container_fotos">
        <img src="../public/img/imagen2.jpg "width= "400px"  alt="">

    </div>
    <div class="container_formulario">
        <form action="" class="formulario2">
            <img src="#" alt="">
            <div class="titulo">
                <h1><center> SIGIN UP </center></h1>
            </div>
        
            <div class="separador-formu"></div>
            <div class="reg">
                <label for="">FIRST  NAME  <br><br>
                    <input type="text" name="" id="username">
                </label>
                </div>
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">SECOND NAME  <br><br>
                        <input type="text" name="" id="username">
                    </label>
        
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">PHONE: <br><br>
                        <input type="text" name="" id="celular">
                    </label>
                </div>
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">DATE OF BIRTH:<br><br>
                        <input type="date" name="" id="DATE">
                    </label>
                </div>
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">EMAIL:<br><br>
                        <input type="email" name="" id="EMAIL">
                    </label>
                
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">PASSWORD:<br><br>
                        <input type="password" name="" id="PASSWORD">
                    </label>
                </div>
                <div class="separador-formu"></div>
                <hr>
                <div class="reg">
                    <button type="button" class="btn btn-primary" id="boton" onclick="agregarUsuario()"> create a count
                        </button>
                </div>
                <div class="separador-formu"></div>

                <div id="ree">
                    <a href="./login.html">Regresar </a>
                </div>
            </div>
        </form>
    </div>
</div>
   
<script src="../public/js/register.js"></script>


</body>

=========
<div class="container_fotos">
    <img src="../public/img/imagen2.jpg "width= "400px"  alt="">

</div>
	<main>
		<form action="" class="formulario" id="formulario">
			
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="usuario" class="formulario__label">USER</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="john123">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
			</div>

			<div class="formulario__grupo" id="grupo__nombre">
				<label for="nombre" class="formulario__label">Nombre</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="John Doe">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
			</div>

		
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
			</div>

			
			<div class="formulario__grupo" id="grupo__password2">
				<label for="password2" class="formulario__label">Repetir Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password2" id="password2">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
			</div>

			<div class="formulario__grupo" id="grupo__correo">
				<label for="correo" class="formulario__label">Correo Electrónico</label>
				<div class="formulario__grupo-input">
					<input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
			</div>

			
			<div class="formulario__grupo" id="grupo__telefono">
				<label for="telefono" class="formulario__label">Teléfono</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
			</div>

			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
			</div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Enviar</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			</div>
            <div id="ree">
                    <a href="./login.html">Regresar </a>
                </div>
		</form>
	</main>

	<script src="../public/js/register.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    {% endblock  %}
</body>
>>>>>>>>> Temporary merge branch 2
</html>