<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foutos art</title>
    <link rel="stylesheet" href="../public/css/Global.css">
    <link rel="stylesheet" href="../public/css/menu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
<link rel="stylesheet" href="../public/css/register_style.css">
</head>
<header>
    <div class="Bar_menu">
        <div class="picture">
            <a href="../vistas/inicio.html"> <img src="/people/src/public/img/foutos.png" alt="foto" height="40px"></a>
        </div>
        <div class="central">
            <div>
                <a href="../vistas/comunidad.html"><button>Comunidad</button></a>
                <button> Trending</button>
                <button> category</button>
            </div>
        </div>
        <a href="">
            <div class="login">
                <div>
                    <h2>asdasd</h2>
                </div>
                <div> <img src="https://storage.googleapis.com/uscimages/account.png" alt="" height="35px"></div>



            </div>
        </a>
        <div class="slider_one">
            <div>
                <a href="">2D</a>

            </div>
            <div>
                <a href="">olio</a>

            </div>
            <div>
                <a href="">3D</a>

            </div>
            <div>
                <a href="">retrato</a>

            </div>
            <div>
                <a href="">animales</a>

            </div>
            <div>
                <a href="">Mitologia</a>

            </div>
        </div>
        <div class="slider_two">
            <div>
                <a href="../vistas/profile.html">usuario</a>

            </div>
            <div>
                <a href="../vistas/configuracion_usuario.html">configuracion</a>

            </div>
            <div>
                <a href="../vistas/subir_imagen.html">upload</a>

            </div>
            <div>
                <a href="">mis fotos</a>

            </div>
            <div>
                <a href="">cuentas</a>

            </div>
            <div>
                <a href="">cerrar secion </a>

            </div>
        </div>

    </div>
</header>

<body>

    <div class="logo">
        <img src="../public/img/logo.png"width = "900px" alt="">
    </div>
<br>
<div class="container"> 
    <div class="container_vacio">

    </div>

    <div class="container_fotos">
        <img src="../public/img/imagen2.jpg "width= "400px"  alt="">

    </div>
    <div class="container_formulario">
        <form action="" class="formulario2">
            <img src="#" alt="">
            <div class="titulo">
                <h1><center> SIGIN UP </center></h1>
            </div>
        
            <div class="separador-formu"></div>
            <div class="reg">
                <label for="">FIRST  NAME  <br><br>
                    <input type="text" name="" id="username">
                </label>
                </div>
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">SECOND NAME  <br><br>
                        <input type="text" name="" id="username">
                    </label>
        
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">PHONE: <br><br>
                        <input type="text" name="" id="celular">
                    </label>
                </div>
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">DATE OF BIRTH:<br><br>
                        <input type="date" name="" id="DATE">
                    </label>
                </div>
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">EMAIL:<br><br>
                        <input type="email" name="" id="EMAIL">
                    </label>
                
                <div class="separador-formu"></div>
                <div class="reg">
                    <label for="">PASSWORD:<br><br>
                        <input type="password" name="" id="PASSWORD">
                    </label>
                </div>
                <div class="separador-formu"></div>
                <hr>
                <div class="reg">
                    <button type="button" class="btn btn-primary" id="boton" onclick="agregarUsuario()"> create a count
                        </button>
                </div>
                <div class="separador-formu"></div>

                <div id="ree">
                    <a href="./login.html">Regresar </a>
                </div>
            </div>
        </form>
    </div>
</div>
   
<script src="../public/js/register.js"></script>


</body>

</html>