<!DOCTYPE html>
<html>
	<head >
		<title>Vista para subir fotos </title>
		<link rel="stylesheet" href="../public/css/Global.css">
		<link rel="stylesheet" href="../public/css/stilo.css" type="text/css">
		
		<link rel="stylesheet" href="../public/css/menu.css">
		
	

		

	</head>
   		<body>
			<header>


				<div class="Bar_menu">
					<div class="picture">
						<a href="../vistas/inicio.html"> <img src="../public/img/foutos.png" alt="foto" height="45px"></a>
					</div>
					<div class="central">
						<div>
							<a href="../vistas/comunidad.html"><button>Comunidad</button></a>
							<button> Trending</button>
							
							<button type="" id="pen-clo"> category></button>
							
						</div>
					</div>
					
						<div class="login" >
						  
							<div>
							   <h2>Rasdasdasd</h2>
							   
							</div>
							<div class="userimg"><img src="https://storage.googleapis.com/uscimages/account.png" alt="" height="35px" id="close-open"></div>
			
			
			
						</div>
					
					<div class="slider_one" id="closesecsion_two">
						<div>
							<a href="">2D</a>
			
						</div>
						<div>
							<a href="">olio</a>
			
						</div>
						<div>
							<a href="">3D</a>
			
						</div>
						<div>
							<a href="">retrato</a>
			
						</div>
						<div>
							<a href="">animales</a>
			
						</div>
						<div>
							<a href="">Mitologia</a>
			
						</div>
					</div>
					<div class="slider_two" id="closesecsion">
						<div>
							<a href="../vistas/profile.html">usuario</a>
			
						</div>
						<div>
							<a href="../vistas/configuracion_usuario.html">configuracion</a>
			
						</div>
						<div>
							<a href="../vistas/subir_imagen.html">upload</a>
			
						</div>
						<div>
							<a href="">mis fotos</a>
			
						</div>
						<div>
							<a href="">cuentas</a>
			
						</div>
						<div>
							<a href="">cerrar secion </a>
			
						</div>
					</div>
			
				</div>
				<script src="../public/js/inicion.js"></script>
			</header>
		<form>
			<form action="">
				<h1>TITULO</h1>
				<br/>
				<input type="text" class="field">  
				
				<br/><br/>
				<br/>

				<h1>DESCRIPCION</h1>

				<br/>

				<textarea class="field"></textarea> 
				
				<br/><br/>

				<h1>FOTOS</h1>

				<br/><br/>

				<div class="form-file">
					<div class="form-file__action">
						<label for="image" class="title"></label>

						<input type="file" name="image" id="image" />
					</div>
					<div class="form-file__result" id="result-image">
						<img id="img-result" alt="" />
					</div>
				</div>

				<br/><br/>
				<br/><br/>
	            <br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/>

				<h1>CATEGORIA</h1>

				<br/>
				<br/>

				<input type="text" class="field"> 

				<br/>
				<br/>
				<br/>

				<div class="col">
					  <a href="../vistas/profile.html">
					<button type="button" class="btn btn-outline-primary subir">PUBLICAR</button>
					  </a>
				  </div>
			</form>
			<script src="../public/js/subir.js"></script>
		</body>
		</html>