<!DOCTYPE html>
<html>
	<head >
		<title>Vista para subir fotos </title>
		<link rel="stylesheet" href="{{url_for('static',filename ='stilo.css')}}">

	

	</head>
   		<body>
			<div class="col" style="width:1400px;height: 1130px;border-color: rgb(50, 50, 50);border-style: groove;margin: 60px;background-color:#00000070;">    
		<form name="myForm" action="" method="post" onsubmit="return Comprobar()">
			<form action="">
				<h1 style="font-size: 30px;margin-left:90px">TITULO</h1>
				<br/>
				<input id="titul" type="text" class="field" >  
				
				<br/><br/>
				<br/>

				<h1 style="font-size: 30px;margin-left:90px">DESCRIPCION</h1>

				<br/>

				<textarea id="descrip" class="field" ></textarea> 
				
				<br/><br/>

				<h1 style="font-size: 30px;margin-left:90px">FOTOS</h1>

				<br/><br/>

				<div class="form-file">
					<div class="form-file__action">
						<label for="image" class="title"></label>

						<input type="file" name="image" id="image" >
					</div>
					<div class="form-file__result" id="result-image">
						<img id="img-result" alt="" />
					</div>
				</div>
				
				<br/>
				<br/>
				<br/>

				<div class="col">
					  <a href="../vistas/profile.html">
						<input class="btn btn-outline-primary subir" type="submit" class="button" name="enviar" value="PUBLICAR">
					  </a>
				  </div>
			</form>
		</div>

			<script  src="{url_for('static',filename ='vali_campos.js')}}"></script>
			<script  src="{url_for('static',filename ='subir.js')}}"></script>


		</body>
		</html>