<!DOCTYPE html>
<html>
	<head >
		<title>Vista para subir fotos </title>
		<link rel="stylesheet" href="{{url_for('static',filename ='stilo.css')}}">

	

	</head>
	<header>
		{% extends './menu.html' %}
		{% block menu_bar  %}
		
		{{super()}}
		</header>
   		<body>
			<br>
			<br>
			
	<div class="registro" >
			<div class="col" >    
		<form name="myForm" action="" method="post" onsubmit="return Comprobar()">
			<form action="">
				<h1 style="font-size: 30px; ">TITULO</h1>
				<br/>
				<input id="titul" type="text" class="field"  >  
				
				<br>
				<br>
				<br>

				<h1 style="font-size: 30px;">DESCRIPCION</h1>

				<br>

				<textarea id="descrip" class="field" ></textarea> 
				
				<br><br>

				<h1 style="font-size: 30px;">FOTOS</h1>

				<br><br>

				<div class="form-file">
					<div class="form-file__action">
						<label for="image" class="title"></label>

						<input type="file" name="image" id="image" >
					</div>
					<div class="form-file__result" id="result-image">
						<img id="img-result" alt="" />
					</div>
				</div>
				
				
				<br/>
				<br/>
				<br/>

				<div class="col_two">
					
						<input  type="submit" class="button" name="enviar" value="PUBLICAR">
					
				  </div>
			</form>
		</div>

			<script  src="{url_for('static',filename ='script/vali_campos.js')}}"></script>
			<script  src="{url_for('static',filename ='script/subir.js')}}"></script>

			{% endblock  %}
	</div>
		</body>
		</html>