button {
  
  
  border-style: none;
  vertical-align: center;
  text-align: center;
  }

h1 {
  color: white;
}
p{
  color: white;;
}
.cont{
    display: grid;
    grid-template-columns:70px 800px 1fr;
  }
  .imagen{
    background-color: #434343;
    height: 100%; 
    border-right: 3px rgb(255, 255, 255) solid;
    
  }
  .imagen img{
    padding-left: 100px;
    padding-top: 10px;
    width: 600px;
  }
  .texto{
    background-color: rgb(67, 67, 67);
    
  }
  .usuario{
    border-bottom:  3px white solid;
  }
  .fotouser img {
    
    width: 45px;
    height: 45px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    
  }
  .fotouser{
    display: inline-block;
  }
  .nameuser{
    display: inline-block;
    text-align: center;
    
  }
  .ingresacomentario{
    border-bottom: 3px white solid;
  }
  #comentario{
    width: 95%;
    height: 200px;
    display: block;
    background-color: rgb(255, 255, 255);
    
  }
  .comentarios{
    Overflow-Y: Scroll;
    height: 300px;
    
  }
  .comentario{
    border-bottom: 2px rgb(111, 111, 111) solid;
  }
  #coment{
    padding-right: 40px;
    vertical-align: middle;
    background-color: rgb(0, 190, 41);
    
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.text{
text-align: left;
padding-top: 3px;
padding-left: 20px;
border-bottom: 3px solid white;;
}