.container{
  margin: auto;
  display: grid ;
  grid-template-columns:400px 100px 1fr;
 
}
.lgo{
  
	background-color: #252525;
	height: 100px;
}

.separador-formu{
  height: 10px;
}


.formulario2{
  border-radius: 60px;
  margin: auto;
  line-height: 22px;
  width: 50%;
 background-image: linear-gradient(0, #65739f 0, #474f68 50%, #2b2e36 100%);
  
}

.reg{
  text-align: center;
  color: white;

}
.reg > label > input {
  width: 70%;
  border-radius: 5px;
  height: 20px;
} 

#ree{
  font-size: 30px;
  background: rgba(79, 27, 79, 0.504);
} 



#ree{
  font-size: 30px;
  background: rgba(198, 28, 198, 0.504);

  border-radius: 0%;
  line-height: 80%;
  width: 30%;
  padding: 2%;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

.container_fotos img{
  margin-top: 25%;
  background-color:rgba(80, 15, 80, 0.433);
  width: 420px;
  border-radius: 6px;
}
.logo{
  background-color: #252525;
  width: 100%;
  

}



.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}
.main {
	
	
	margin: auto;
	padding: 40px;
  background-image: url(img/moradp.webp);

}
formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}
.btn-primary{
  background-color: #1ed12d;
}