.carrusel_cont{
   
    position: relative;
}

.carusser_anterior , 
.carusser_siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: 30%  ;
    line-height: 30px;
    text-align: center;
    background-color: none;
    color: white;
  
}
.carusser_anterior{
    left: -90px;

}
.carusser_anterior img , .carusser_siguiente img{
    width: 60px;
    
}
.carusser_siguiente{
    right:  -10px;
}
.ruleta{
    
   margin: 10%;
}
.carrusel_element{
    padding: 2px;
   
}
.carrusel_element img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
   
}
.explore_text{
    color: white;
    text-align: center;
 
   margin: 0;
}
.cont{
    
    margin: 80px;
    display: grid;
    grid-template-columns: repeat( 5, auto);
}
.cont_img img{
    width: 200px;
    padding: 2px;
    border-radius: 3px;
   
}
footer{
    height: 200px;
    color: white ; 
   background-image: url(../img/foot.png);
}