
  
  body{
    background-repeat: no-repeat;
    background: cornsilk;   
    background-size:cover;
  }
  
  #cuadrado{
    width: 350px;
    height: 450px;
    background: url(../img/moradp.webp); 
    margin: 100px;;
    border-radius: 30px; 
         
  }
  
  .contenedor2{
    margin-top:60px;
    text-align: center;
    color: aliceblue;
    
  }
  
  .ft-login img{
    width: 100px;
    height: 100px;
  }
  
  #separador{
    height: 50px;
  }
  
  #form2b{
   
      width: 70px;
      height: 30px;   
      margin-top: 10px;
      margin: auto;
      border-radius: 6px;
      background-color: rgba(45, 23, 65, 0.447);
      
  }
  #form2 button{
    width: 130px;
    height: 35px;
    border-style: none;
    border-radius: 20px;
    background: linear-gradient(146deg, rgb(95, 65, 133) 43%, rgba(255,213,250,1) 83%);
  }
  .carrusel_element img{
    width: 590px;
    height: 590px;
    margin: 900px;
    padding: 500px;
    padding-top: 50px;
  
  }
 
  