h2{
    border-style: none;
    vertical-align: center;
    text-align: center;
}
button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding-left: 40px;
    font-size: 14px;
    text-align: left;
    vertical-align: center;
}
.central div button:hover {
    background-color: rgb(73, 73, 73);
}
.central{
    border-right: 5px solid white;
}
.picture{
    border-right: 5px solid white;
}

.Bar_menu{
    background-color: black;
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: auto 1fr 300px;
}
.login {

    background-color: rgb(26, 26, 26);
    display: grid;
    grid-template-columns: 1fr auto;
    color: white;
    text-align: center;
    vertical-align: center;

}
.login h2 { 
   padding-top: 10px;
   
}
.userimg img{
    padding-right: 20px;
    padding-top: 5px;
    
    }
.slider_one{
    visibility: visible;
    top: 45px;
    left: 55%;
    color: black;
background-color: white;
position: fixed;
width: auto;
z-index:1;
visibility: hidden;
}
.slider_two{
    visibility: hidden;
    
    top: 45px;
    right: 10px;
    color: black;
background-color: white;
position: fixed;
width: auto;
z-index:1;
}
.close {
    visibility: visible;
}
.close_two {
    visibility: visible;
}



